  .flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  /* body {
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
  } */
  /* body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 6px;
    color: gray;
  }
  
  h1 {
    font-family: Georgia, serif;
    font-size: 5px;
    color: white;
  } */